@media (min-width: 375px) {
    .main-wrapper {
        max-width: 96vw;
    }
}

@media (min-width: 640px) {

	.main-wrapper {
		max-width: 98vw;
	}
}
@media (min-width: 768px) {

	.main-wrapper {
		max-width: 98.85vw;
	}
}
@media (min-width: 1024px) {

	.main-wrapper {
		max-width: 98.86vw;
	}
}
@media (min-width: 1280px) {

	.main-wrapper {
		max-width: 98.9vw;
	}
}
@media (min-width: 1536px) {

	.main-wrapper {

		max-width: 99.1vw;
	}
}

@media (min-width: 1517px){

    .main-wrapper {
        max-width: 100vw;
    }

}

@media (max-width: 767px) {
    .pc-device {
        display: none;
    }
    .scrollable-content {
        overflow: scroll;
        padding: 4rem;
    }
}

@media (min-width:768px) {
    .pc-device {
        display: block;
    }
    .scrollable-content {
        overflow: scroll;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.left {
    background: grey;
}

.right {
    background: black;
}

.container {
    padding: 0;
    margin: 0;
}

.main-wrapper {
    height: 100vh;
}

.section {
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.half {
    background: #f9f9f9;
    height: 50%;
    width: 100%;
    padding: 15px 0;
}

h4 {
    color: white;
}

.section {
    display: block;
}

.img-logo {
    width: 10rem;
    margin: auto;
}
